* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden;

    nav {
        width: 77vw;
        padding: 10px 30px 10px 30px;
        background-color: #162136f4;
        backdrop-filter: blur(150px);
        /* background-image: linear-gradient(to bottom, #3618024a, #020b1c); */
        display: flex;
        align-items: center;
        position: fixed;
        /* margin: auto; */
        box-shadow: 0px 5px 15px #0000009d;

        justify-content: space-between;
        z-index: 9;

        .logo {
            width: 150px;
            height: 40px;
            display: flex;

            img {
                width: 59px;
                height: 39.33px;
            }

            #pAY {
                color: #eb7824;
                font-family: Inter;
                font-size: 36px;
                font-weight: 300;
                font-family: "Inter", sans-serif;
                text-align: center;
                letter-spacing: 7.2px;
            }

        }

        .nav {
            width: fit-content;
            height: 46px;
            /* background-color: red; */
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: space-between;
            /* background-color: #1b2433; */

            span {
                color: #ffffff;
                font-family: Inter;
                font-size: 15px;
                font-weight: 400;
                cursor: pointer;
            }

            #joinus {
                color: #fdfdfd;
                font-family: Inter;
                background: #eb7824;
                padding: 6px;
                border-radius: 40px;
            }

            #rectangle8 {
                position: absolute;
                left: 0px;
                top: 40px;
                width: 31px;
                height: 6px;
                background: #eb7824;
                background-blend-mode: normal;
            }

        }

        .skew {
            width: 150px;
            height: 100%;
            position: absolute;
            right: -30px;
            transform: skew(-27deg);
            z-index: -2;
            box-shadow: -5px 3px 8px #000000;
            background-color: #171D27;
        }
    }

    main {
        width: 300vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        position: relative;

        .carousel {
            width: 300vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(to top right, #eb772432, white, #eb772400, white);
            animation: car 30s step-start infinite;

            /* animation: car 5s step-start infinite; */

            .car1 {
                width: 100vw;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;

                /* background-color: red; */
                .car1_items {
                    width: 85%;
                    height: 80%;
                    display: flex;
                    align-items: center;

                    /* background-color: red; */
                    .title {
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        color: #171D27;
                        width: 700px;

                        h1 {
                            font-family: "Satisfy", cursive;
                            font-size: 60px;

                            b {
                                font-family: Inter;
                                color: #eb7824;
                                font-weight: 1100;
                            }

                            span {
                                font-family: Inter;
                                color: #eb7824;
                                font-weight: 100;
                            }
                        }

                        .text {
                            width: fit-content;
                            display: flex;
                            gap: 10px;

                            b {
                                font-family: Inter;
                                color: #eb7824;
                                font-weight: 600;
                                font-size: 70px;
                            }

                            span {
                                font-size: 30px;
                                font-family: Inter;
                                font-weight: 100;

                            }
                        }

                        button {
                            width: 150px;
                            height: 50px;
                            border-radius: 40px;
                            border: none;
                            outline: none;
                            color: white;
                            background-color: #eb7824;
                            font-size: 18px;
                            box-shadow: 0px 5px 8px #0000009d;
                        }

                        button:hover {
                            background-color: #ed8032;
                            transform: scale(1.02);
                            transition: all 200ms ease;
                        }
                    }

                    .banner {
                        width: 700px;
                        height: 100%;
                        background-image: url(./Images/Animation\ 1.gif);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        filter: drop-shadow(3px 3px 7px rgba(33, 33, 33, 0.501));

                        /* background-color: green; */
                    }
                }

            }

            .car2 {
                width: 100vw;
                height: 100vh;
                background-image: linear-gradient(to left, #00000039, #121212), url(./eco\ building.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                /* background-color: yellow; */
                .car2_text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 50%;
                    height: 40%;
                    align-items: center;
                    position: absolute;
                    top: 200px;

                    /* background-color: red; */
                    h1 {
                        font-size: 60px;
                        font-family: inter;
                        font-weight: 800;
                        color: white;

                        b {
                            color: #eb7824;
                            font-weight: 800;
                            font-size: 60px;
                        }

                        span {
                            color: #eb7824;
                            font-weight: 100;
                            font-size: 60px;

                        }
                    }

                    span {
                        font-size: 40px;
                        font-family: inter;
                        color: white;

                        b {
                            font-family: "Satisfy", cursive;
                            ;
                            color: #eb7824;
                        }
                    }
                }


                button {
                    width: 180px;
                    height: 50px;
                    border-radius: 40px;
                    border: none;
                    outline: none;
                    color: white;
                    background-color: #eb7824;
                    font-size: 18px;
                    box-shadow: 0px 5px 8px #ff9c5a9d;

                }

                button:hover {
                    background-color: #ed8032;
                    transform: scale(1.02);
                    transition: all 200ms ease;
                }
            }

            .car3 {
                width: 100vw;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(to top right, #eb77246e, white, #eb772400, white);

                .car1_items {
                    width: 85%;
                    height: 80%;
                    display: flex;
                    align-items: center;

                    /* background-color: red; */
                    .title {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        color: #171D27;
                        width: 700px;

                        h1 {
                            font-family: "Satisfy", cursive;
                            font-size: 60px;

                            b {
                                font-family: Inter;
                                color: #eb7824;
                                font-weight: 1100;
                            }

                            span {
                                font-family: "Satisfy", cursive;
                                color: #eb7824;
                                font-weight: 400;
                                font-size: 40px;
                            }
                        }

                        .text {
                            width: fit-content;
                            display: flex;
                            gap: 10px;

                            b {
                                font-family: Inter;
                                color: #eb7824;
                                font-weight: 600;
                                font-size: 70px;
                            }

                            span {
                                font-size: 30px;
                                font-family: Inter;
                                font-weight: 100;

                            }
                        }

                        button {
                            width: 150px;
                            height: 50px;
                            border-radius: 40px;
                            border: none;
                            outline: none;
                            color: white;
                            background-color: #171d27;
                            font-size: 18px;
                            box-shadow: 0px 5px 8px #0000009d;
                        }

                        button:hover {
                            background-color: #1f252e;
                            transform: scale(1.02);
                            transition: all 200ms ease;
                        }
                    }

                    .banner {
                        width: 700px;
                        height: 100%;
                        background-image: url(./Images/Mockups.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        filter: drop-shadow(3px 3px 7px rgba(33, 33, 33, 0.501));

                        /* background-color: green; */
                    }
                }

                /* background-color: rgb(0, 255, 72); */
            }

        }


        .About {
            position: absolute;
            bottom: 50px;
            left: 100px;
            /* box-shadow: 0px 0px 4px 5px black; */
            filter: drop-shadow(3px 3px 7px rgba(33, 33, 33, 0.501));
        }

        .abt_video {
            width: 1000px;
            /* height: 200px; */
            position: absolute;
            top: 100px;
            left: 5%;
            /* background-color: red; */
        }
    }

    .side_menu {
        width: 60px;
        height: 180px;
        /* background-color: red; */
        position: absolute;
        bottom: 50px;
        right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: space-between;
        position: fixed;
        z-index: 4;

        .donate {
            color: #eb7824;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: inter;
            font-size: 15px;
            width: 70px;
            filter: drop-shadow(3px 3px 3px rgba(33, 33, 33, 0.501));

            img {
                width: 70px;
            }

            a {
                text-decoration: none;
                color: #ed8032;
            }
        }

        .cust_care {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: inter;
            color: #eb7824;
            filter: drop-shadow(3px 3px 3px rgba(33, 33, 33, 0.501));

            a {
                text-decoration: none;
                color: #ed8032;
            }

            /* background-color: #eb7824; */
        }
    }

    .main2 {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to right, #000000a2, rgba(0, 0, 0, 0.164)), url(./Images/plane.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        border-top: 3px solid #eb7824;
        background-attachment: fixed;

        .main2_text {
            height: 350px;
            width: 900px;
            padding-left: 50px;
            line-height: 40px;
            /* background-color: red; */
            font-size: 20px;
            color: white;
            margin: left;
            text-align: justify;
            font-family: Inter;
            font-size: 20px;
            font-weight: 200;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-around;

            button {
                background: none;
                border: 2px solid #eb7824;
                outline: none;
                padding-left: 20px;
                width: 150px;
                height: 50px;
                color: white;
                overflow: hidden;
                position: relative;
                z-index: 4;

                img {
                    position: absolute;
                    bottom: -35px;
                    left: 0;
                    /* opacity: 0; */
                }
            }

            .fill {
                width: 150px;
                height: 50px;
                position: absolute;
                top: 0;
                opacity: 0;
                left: -30px;
                background: #eb7824;
            }

            button:hover {
                .fill {
                    left: 0;
                    opacity: 1;
                    z-index: -2;
                    transition: all 700ms ease-in-out;
                }

                img {
                    /* opacity: 1; */
                    z-index: 9;
                    bottom: 5px;
                    transition: all 600ms ease-in-out;
                }

                /* background: #eb7824; */
                border: none;

            }
        }

        .title {
            h2 {
                font-family: inter;
                font-weight: 700;
                color: #ffffff;
                font-family: Inter;
                font-size: 50px;
                font-weight: 900;
                text-align: right;
                position: absolute;
                top: 120px;
                right: 30px;

                span {
                    color: #eb7824;
                }
            }

        }

        .steps {
            width: 90vw;
            height: 200px;
            position: absolute;
            top: 400px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
            justify-content: center;
            justify-content: space-between;

            /* background-color: red; */

            .step1 {
                width: 300px;
                height: 110.87px;
                border-radius: 17px;
                background: #171d27b9;
                background-blend-mode: normal;
                backdrop-filter: blur(40px);
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-family: inter;
                text-align: center;

                p {
                    position: absolute;
                    bottom: 10px;
                    font-size: 25px;
                    font-family: inter;
                    font-weight: 200;
                }

                .step_number {
                    width: 106.25px;
                    height: 106.25px;
                    border-radius: 100%;
                    border: 6px solid #eb7824;
                    background: rgba(23, 29, 39, 0.72);
                    /* background-blend-mode: normal; */
                    backdrop-filter: blur(50px);
                    position: absolute;
                    top: -70px;
                    left: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        position: absolute;
                        top: 20px;
                        left: 25px;
                        font-size: 50px;
                        font-family: inter;
                        font-weight: 100;
                    }

                }
            }

            .step1:hover {
                transform: scale(1.05);
                transition: transform 200ms ease;
            }
        }

        .explanation {
            width: 700px;
            height: 100px;
            color: white;
            position: absolute;
            bottom: 100px;

            p {
                text-align: center;
                font-family: inter;
                line-height: 25px;
                font-family: inter;
                font-weight: 200;
            }
        }
    }

    .main3 {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to top right, #eb772447, white, #eb77243e, white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-top: 3px solid #eb7824;

        h1 {
            font-family: inter;
            font-weight: 900;
            font-size: 40px;
            color: #171D27;
        }

        .charity {
            width: 85%;
            height: 350px;
            display: flex;
            align-items: center;
            /* background-color: red; */
            justify-content: space-between;

            .char_step1 {
                height: 100%;
                width: 250px;
                background-color: #ffffff88;
                backdrop-filter: blur(90px);
                border-radius: 7px;
                /* position: relative; */
                color: white;
                font: inter;
                /* padding: 20px; */
                /* text-align: justify; */
                line-height: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                p {
                    padding: 5px;
                    font-family: inter;
                    font-size: 12px;
                    color: #949494;
                }

            }
        }

        .char_car {
            width: 80%;
            height: 170px;
            /* overflow: auto; */
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            /* background-color: yellow; */

            .char_car2 {
                width: 100%;
                height: 100%;
                overflow: hidden;

                background-color: #1621361f;
                backdrop-filter: blur(150px);
                padding: 10px;
                border-radius: 5px;

            }

            .slide_btn1 {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 55px;
                right: -50px;
                background-image: url(./Images/Forward_3.png);
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 100%;
                background-color: #162136f4;
            }

            .slide_btn2 {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 55px;
                left: -50px;
                background-image: url(./Images/Backward_3.png);
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 100%;
                background-color: grey;
            }


            .char_car_content {
                width: 170%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                /* gap: 50px; */
                /* background-color: #162136f4; */

                .slid1 {
                    width: 200px;
                    height: 100%;
                    background-image: url(./Images/c5.jpeg);
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;
                    background-size: cover;
                    overflow: hidden;

                    .filter {
                        width: 200px;
                        height: 100%;
                        position: absolute;
                        bottom: -100px;
                        opacity: 0;
                        background-image: linear-gradient(to top, #171d278d, #eb772477)
                    }
                }

                .slid1:hover {
                    .filter {
                        opacity: 1;
                        bottom: 0;
                        transition: all 300ms ease;
                    }
                }

                .slid1:nth-child(2) {
                    background-image: url(./Images/customer.jpg);
                }

                /* .slid1:nth-child(2):hover{
                    .filter{
                        opacity: 1;
                        bottom: 0;
                        transition: all 300ms ease;
                    }
                } */

                .slid1:nth-child(3) {
                    background-image: url(./Images/customer2.jpg);
                }

                /* .slid1:nth-child(3):hover{
                    .filter{
                        opacity: 1;
                        bottom: 0;
                        transition: all 300ms ease;
                    }
                } */

                .slid1:nth-child(4) {
                    background-image: url(./Images/c3.jpeg);

                }

                /* .slid1:nth-child(4):hover{
                    .filter{
                        opacity: 1;
                        bottom: 0;
                        transition: all 300ms ease;
                    }
                } */

                .slid1:nth-child(5) {
                    background-image: url(./Images/c4.jpeg);

                }

                /* .slid1:nth-child(5):hover{
                    .filter{
                        opacity: 1;
                        bottom: 0;
                        transition: all 300ms ease;
                    }
                } */

                .slid1:nth-child(6) {
                    background-image: url(./Images/c5.jpeg);

                }

                /* .slid1:nth-child(6):hover{
                    .filter{
                        opacity: 1;
                        bottom: 0;
                        transition: all 300ms ease;
                    }
                } */

                .slid1:nth-child(7) {
                    background-image: url(./Images/c6.jpeg);

                }

                /* .slid1:nth-child(7):hover{
                    .filter{
                        opacity: 1;
                        bottom: 0;
                        transition: all 300ms ease;
                    }
                } */

                .slid1:nth-child(8) {
                    background-image: url(./Images/c7.jpeg);
                }
            }


        }
    }

    .main4 {
        width: 100vw;
        height: 150vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        background-image: linear-gradient(to top right, #eb772447, white, #eb77243e, white);
        border-top: 3px solid #eb7824;
        justify-content: space-around;

        h1 {
            font-family: inter;
            font-weight: 800;
            color: #171D27;
        }

        .comments {
            width: 85%;
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 15px;
            /* background-color: #eb772441; */

            .comment1 {
                width: 100%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                /* background-color: green; */
                video {
                    border-radius: 7px;
                }

                .vid_comment {
                    width: 35%;
                    height: 100px;
                    display: flex;
                    align-items: center;

                    p {
                        text-align: justify;
                        font-size: 15px;
                        color: #080808;
                        font-family: inter;
                        font-weight: 200;
                    }
                }
            }
        }

        h4 {
            color: #171D27;
            font-family: "Satisfy", cursive;
            font-size: 30px;
            font-weight: 200;
        }

        .trusted {
            width: 70%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* overflow-x: scroll; */
            overflow: hidden;
            /* background-color: red; */

            .trusted_content {
                width: 350%;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                animation: trusted 30s ease-in-out infinite;
                /* animation trusted  */
            }

            .company_logo {
                width: 150px;
                height: 150px;
                background-image: url(./Images/dangote.png);
                /* background-color: white; */
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .company_logo:nth-child(1) {
                background-image: url(./Images/dangote.png);
                background-size: 90%;
            }

            .company_logo:nth-child(2) {
                background-image: url(./Images/bua.png);
                background-size: 50%;
            }

            .company_logo:nth-child(3) {
                background-image: url(./Images/nestle.png);
                background-color: rgb(255, 255, 255);
                background-size: 30%;
            }

            .company_logo:nth-child(4) {
                background-image: url(./Images/coca\ cola.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 50%;
            }

            .company_logo:nth-child(5) {
                background-image: url(./Images/ariel.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 55%;
            }

            .company_logo:nth-child(6) {
                background-image: url(./Images/lafrage.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 65%;
            }

            .company_logo:nth-child(7) {
                background-image: url(./Images/mtn.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 65%;
            }

            .company_logo:nth-child(8) {
                background-image: url(./Images/glo.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 65%;
            }

            .company_logo:nth-child(9) {
                background-image: url(./Images/airtel.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 65%;
            }

            .company_logo:nth-child(10) {
                background-image: url(./Images/apple.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 65%;
            }

            .company_logo:nth-child(11) {
                background-image: url(./Images/samsung.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 65%;
            }

            .company_logo:nth-child(11) {
                background-image: url(./Images/unilever.png);
                /* background-color: rgb(255, 255, 255); */
                background-size: 65%;
            }

            /* background-color: white; */
        }
    }

    footer {
        width: 100vw;
        height: 50vh;
        border-top: 3px solid #eb7824;
        background-color: #171D27;
        position: relative;
        overflow: hidden;

        /* background-image: url(./footer\ vid.mp4); */
        video {
            width: 100vw;
            /* height: 0vh; */
        }

        .filter {
            width: 100vw;
            height: 50vh;
            /* bottom: 0; */
            /* z-index: 4; */
            background-color: #171d27cf;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;

            .footer_content {
                /* background-color: red; */
                width: 90%;
                height: 60%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .list1 {
                    height: fit-content;
                    display: flex;
                    align-items: left;
                    flex-direction: column;
                    justify-content: space-between;

                    b {
                        font-size: 18px;
                        color: rgb(255, 255, 255);
                        font-weight: 900;
                        font-family: inter;
                    }

                    p {
                        font-size: 13px;
                        color: rgba(170, 170, 170, 0.656);
                        font-weight: 600;
                        font-family: inter;
                        padding: 20px 0 10px 0;


                    }
                }

                .list1:nth-child(5) {
                    align-items: end;
                }

            }
        }
    }
}

@keyframes car {
    30% {
        /* margin-right: 0; */
        transform: translateX(0px);
    }

    60% {
        /* margin-right: 0; */
        transform: translateX(-1440px);

    }


    100% {
        /* margin-right: 6000px; */
        transform: translateX(-2880px);


    }
}

@keyframes trusted {
    0% {
        transform: translateX(0px);
    }

    30% {
        /* margin-right: 0; */
        transform: translateX(-200px);
    }

    60% {
        /* margin-right: 0; */
        transform: translateX(-500px);

    }


    100% {
        /* margin-right: 6000px; */
        transform: translateX(-700px);


    }
}

/* .car1 {
    height: 100vh;
    width: 85%;

    margin: auto;
    display: flex;
    align-items: center;

   

    .banner {
        width: 750px;
        height: 650px;
        background-image: url(./Images/Animation.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 190%;

    }
} */